* {
  font-family: Tahoma, Calibri, sans-serif;
  box-sizing: border-box;
  --accent-color: #eac435; /*#eac435*/
  --light-text-color: #fefcff;
  --light-secondary-bg-color: #2068f0;
  --dark-text-color: #2b2b3a;
  --main-bg-color: #040415;
  --secondary-bg-color: #25283d;
  --terniary-bg-color: #6a550b;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

.content_wrap {
  padding-bottom: 10rem; /*Este valor siempre por encima del HEIGHT del footer*/
}

body {
  margin: auto;
  position: relative;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--light-text-color);
}

.contact_footer {
  /* background-color: var(--main-bg-color); */
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0%;
  width: fit-content;
  height: 9rem; /*Este valor siempre por debajo del padding-bottom del content de la página*/
  padding: 2.5rem 1.5rem 2rem 1.5rem;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background-color: var(--secondary-bg-color);
  h2 {
    margin-top: auto;
    margin-bottom: 1.5rem;
    float: left;
  }
}

address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

address a {
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.contact_media_info {
  display: flex;
  flex-direction: row;
  gap: 20rem;
}

p {
  text-wrap: pretty;
  margin-inline: 1rem;
}

a {
  color: var(--light-text-color);
  text-decoration: none;
}
a:hover {
  .gmail_logo {
    fill: #f1493c;
    scale: 1.1;
  }
  .linkedin_logo {
    fill: #007ab5;
    scale: 1.1;
  }
  .itch_logo {
    fill: #ff5c5a;
    scale: 1.1;
  }
  .twitter_logo {
    fill: #24a3f1;
    scale: 1.1;
  }
  .whatsapp_logo {
    fill: #51c85d;
    scale: 1.1;
  }
}

.gmail_logo,
.linkedin_logo,
.itch_logo,
.twitter_logo,
.whatsapp_logo {
  transition: all 0.5s;
}

.social_media_links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

header {
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: #00000076;
  backdrop-filter: blur(5px);
}

.button_list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  list-style-type: none;
  padding: 1rem 0rem;
  margin: 0;
  li {
    vertical-align: middle;
    text-align: center;
    width: 8rem;
    padding: 0.5rem 0.25rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  li:hover {
    background-color: var(--light-secondary-bg-color);
    a {
      color: var(--light-text-color);
    }
  }
}

li.selected {
  background-color: var(--light-secondary-bg-color);
  color: var(--light-text-color);
}
