* {
  font-family: Tahoma, Calibri, sans-serif;
  box-sizing: border-box;
  --accent-color: #eac435; /*#eac435*/
  --light-text-color: #fefcff;
  --light-secondary-bg-color: #ffae00;
  --dark-text-color: #2b2b3a;
  --main-bg-color: #040415;
  --secondary-bg-color: #25283d;
  --terniary-bg-color: #6a550b;
}

.body_div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--secondary-bg-color);
  background: linear-gradient(0deg, rgba(4, 4, 21, 1) 0%, rgba(37, 40, 61, 1) 100%);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

body {
  margin: 0;
  min-width: 100vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-color);
  background: linear-gradient(0deg, rgba(4, 4, 21, 1) 0%, rgba(37, 40, 61, 1) 100%);
  color: var(--light-text-color);
}

.contact_footer {
  /* background-color: var(--main-bg-color); */
  margin-top: auto;
  margin-bottom: 1rem;
  padding-top: 1rem;
  h2 {
    margin-top: auto;
    margin-bottom: 0.5rem;
  }
}

address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

address a {
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.contact_media_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.hero_img {
  height: 100%;
  max-width: 224px;
  min-width: 124px;
  border-radius: 50%;
  margin-top: 1rem;
}

p {
  text-wrap: pretty;
  margin-inline: 1rem;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  .gmail_logo {
    fill: #f1493c;
    scale: 1.1;
  }
  .linkedin_logo {
    fill: #007ab5;
    scale: 1.1;
  }
  .itch_logo {
    fill: #ff5c5a;
    scale: 1.1;
  }
  .twitter_logo {
    fill: #24a3f1;
    scale: 1.1;
  }
  .whatsapp_logo {
    fill: #51c85d;
    scale: 1.1;
  }
}

.gmail_logo,
.linkedin_logo,
.itch_logo,
.twitter_logo,
.whatsapp_logo {
  transition: all 0.5s;
}

.social_media_links {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.main_div {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  border: var(--light-text-color) 2px solid;
}

.main_title {
  margin-left: 16px;
  margin-top: 32px;
  margin-bottom: 0px;
  color: var(--light-text-color);
}

.subtitle {
  margin-left: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--accent-color);
}

.button_list {
  display: flex;
  height: fit-content;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: var(--accent-color) 2px solid;
  border-bottom: 0px;
  border-radius: 6px 6px 0px 0px;
  li {
    vertical-align: middle;
    text-align: center;
    padding: 1rem 0.5rem;
    width: 100%;
    cursor: pointer;
  }
}

li.selected {
  background-color: var(--light-secondary-bg-color);
  color: var(--dark-text-color);
}

li:hover {
  background-color: var(--accent-color);
  color: var(--dark-text-color);
}

.button_list li:first-of-type:hover {
  border-radius: 3px 0px 0px 0px;
}

.button_list li:last-of-type:hover {
  border-radius: 0px 3px 0px 0px;
}

.info_section {
  flex-grow: 1;
  background-color: var(--light-secondary-bg-color);
  color: var(--dark-text-color);
  border: var(--accent-color) 2px solid;
  border-top: 0px;
  border-radius: 0px 0px 6px 6px;

  p {
    font-weight: 400;
  }
}
